{% include "parts/header_white.html" %}
{% include "parts/mobile_menu.html" %}
<section class="contacts">
	<div class="contacts_inner">
		<div class="heading heading_black">Наши контакты</div>
		<div class="contacts_inner_content_wrapper">
			<div class="contacts_inner_content">
				<div class="contacts_inner_content_item">
					<div class="contacts_inner_content_item_title">
						<img src="img/phone-call.png">
						Телефон:
					</div>
					<div class="contacts_inner_content_item_text">
						<p>+38 (044) 221-89-57</p>
						<p>+38 (044) 221-89-57</p>
					</div>
				</div>
				<div class="contacts_inner_content_item">
					<div class="contacts_inner_content_item_title">
						<img src="img/envelope.png">
						Почта:
					</div>
					<div class="contacts_inner_content_item_text">
						<p>+38 (044) 221-89-57</p>
						<p>+38 (044) 221-89-57</p>
					</div>
				</div>
				<div class="contacts_inner_content_item">
					<div class="contacts_inner_content_item_title">
						<img src="img/clock-circular-outline.png">
						График роботы:
					</div>
					<div class="contacts_inner_content_item_text">
						<p>Пн-Пт: 10:00–17:00</p>
						<p>Сб, Вс: выходной</p>
					</div>
				</div>
				<div class="contacts_inner_content_item">
					<div class="contacts_inner_content_item_title">
						<img src="img/placeholder.png">
						Адрес:
					</div>
					<div class="contacts_inner_content_item_text">
						<p>Украина, г. Киев,ул. Евгения Сверстюка 21, оф. 104</p>
					</div>
				</div>
		</div>
		<div class="contacts_inner_form">
			<h3>Для обратной связи заполните форму</h3>
			<form>
				<input type="text" name="" placeholder="Имя">
				<input type="text" name="" placeholder="Номер телефона">
				<input type="email" name="" placeholder="E-mail">
				<textarea placeholder="Текст сообщения"></textarea>
				<button type="submit">Отправить</button>
			</form>
		</div>
		</div>
	</div>
</section>

{% include "parts/footer.html" %}