{% include "parts/header_white.html" %}
{% include "parts/mobile_menu.html" %}


<section class="distributors">
	<div class="container">
		<div class="distributors_header">
			<!-- <img src="../img/location.png" alt=""> -->
			<h2 class="heading mt30 heading_black">Международные дистрибьюторы <br> и места продаж</h2>
		</div>
		<div class="distributors_item">
			<h3 class="distributors_heading text_heading">Украина</h3>
			<div class="distributors_item_content">
				<p class="text_main">Продкуция доступна: </p>
				<div class="distributors_item_content_item">
					<h3 class="distributors_ukraine_heading text_main">Розничные торговые сети</h3>
					<div class="distributors_ukraine_line"></div>
					<div class="row distributors_item_row">
						<div><img src="./img/silpo.png" alt=""></div>
						<div><img src="./img/mega.png" alt=""></div>
						<div><img src="./img/atb.png" alt=""></div>
						<div><img src="./img/auchan-.png" alt=""></div>
						<div><img src="./img/furshet.png" alt=""></div>
						<div><img src="./img/novus.png" alt=""></div>
					</div>
				</div>

				<div class="distributors_item_content_item">
					<h3 class="distributors_ukraine_heading text_main">Интернет магазины: </h3>
					<div class="distributors_ukraine_line"></div>
					<div class="row distributors_item_row distributors_item_row-shop">
						<div><img src="./img/rozetka.png" alt=""></div>
						<div><img src="./img/zakaz.png" alt=""></div>
					</div>
				</div>

				<div class="distributors_item_content_item distributors_item_content_item_last">
					<h3 class="distributors_ukraine_heading text_main text_main">Авторизированный дистрибьютор: </h3>
					<div class="distributors_ukraine_line"></div>
					<p class="text_main"> ООО Клима Трейд<br>
						Адрес: г. Киев, ул, Евгения Сверстюка, 21 , оф. 104.<br>      
						+38 (044) 221-89-57<br> 
						+38 (063) 111-00-44<br>
						sales@4moms.com.ua</p>
				</div>
			</div>	
		</div>
			
		
		<div class="distributors_item">
			<h3 class="distributors_heading text_heading">Англия</h3>
			<div class="distributors_item_content">
				<p class="text_main">Извините но пока в вашем регионе продукция недоступна. </p>
			</div>
		</div>
		<div class="distributors_item">
			<h3 class="distributors_heading text_heading">Китай</h3>
			<div class="distributors_item_content">
				<p class="text_main">Извините но пока в вашем регионе продукция недоступна. </p>
			</div>
		</div>
	</div>
</section>



{% include "parts/footer.html" %}