{% include "parts/header_white.html" %}
{% include "parts/mobile_menu.html" %}
<section class="faq">
	<div class="faq_content">
		<div class="heading heading_black">Вопросы и ответы</div>
		<div class="faq_inner">
			<div class="faq_inner_help">Если мы не ответили на все ваши вопросы, или вам нужно связаться с нами, вы можете сделать это <a href="">здесь</a></div>
			<div class="faq_item">
				<div class="faq_item_title">
					Могу ли я сделать кефир без йогуртницы JURAVA?
				</div>
				<div class="faq_item_content">
					Да, можно. Кефир отличается от йогурта более низкой температурой сквашивания. Кефирные бактерии начинают работать даже при комнатной температуре. По этому, приготовить кефир можно в любой емкости прямо при комнатной температуре (не ниже +22). Но время приготовления в этом случае будет больше – от 18 до 24 часов. В йогуртнице при температуре +30 градусов кефир готовится быстрее – за 12 – 14 часов.
				</div>
			</div>
			<div class="faq_item">
				<div class="faq_item_title">
					Могу ли я сделать кефир без йогуртницы JURAVA?
				</div>
				<div class="faq_item_content">
					Да, можно. Кефир отличается от йогурта более низкой температурой сквашивания. Кефирные бактерии начинают работать даже при комнатной температуре. По этому, приготовить кефир можно в любой емкости прямо при комнатной температуре (не ниже +22). Но время приготовления в этом случае будет больше – от 18 до 24 часов. В йогуртнице при температуре +30 градусов кефир готовится быстрее – за 12 – 14 часов.
				</div>
			</div>
		</div>
	</div>
</section>



{% include "parts/footer.html" %}