{% include "parts/header_white.html" %}
{% include "parts/mobile_menu.html" %}




<div class="howtomake">
	<a href="./" class="close_howtomake_button">
				<img src="img/close_black.svg">
			</a>
	<div class="container howtomake_container">
		<div>
			<h3 class="text_heading">Приготування в йогуртниці Jurava</h3>
			<p class="text_main"><img  class="howtomake_img1" src="img/instruction_1.svg" alt="">1. Наповнiть стакан йогуртницi питною водою кiмнатної температури до половини, додайте сумiш (весь вмiст пакету), закрийте стакан кришкою та енергiйно збовтайте до повного розчинення сумiшi. Додайте води доверху стакану та збовтайте знову.</p>
			<p class="text_main">2. Залийте в йогуртницю 2 склянки води з крану. Встановіть стакан з сумішшю в йогуртницю. Ввімкніть пристрій в режимі ІІ (йогурт) та залиште на 8–12 годин для сквашування.</p>
			<img  class="howtomake_img2" src="img/instruction_2.svg" alt="">
			<p class="text_main">3. Вимкніть йогуртницю, вилийте з неї воду та поставте стакан з йогуртом у холодильник.</p>
		</div>
		<div>
			<h3 class="text_heading">Приготування без йогуртниці</h3>
			<p class="text_main">Використовуйте банку за кришкою ємністю 1 л для розчинення суміші, як описано в пункті 1 інструкції. Покладіть ємність з сумішшю до йогуртниці або мультиварки та ввімкніть прилад в режим «йогурт» або «40 °С» на 8–12 годин. Якщо використо-
вуєте мультиварку – додайте до її чаші дві склянки води.</p>
		</div>
	</div>
</div>










{% include "parts/footer.html" %}