{% include "parts/header_white.html" %}
{% include "parts/mobile_menu.html" %}
<section class="language">
	<div class="container">
		<h2 class="heading">Выберите страну и язык</h2>
		<div class="language_line"></div>
		<div class="language_languages">
			<div class="language_languages_item">
				<img src="./img/globe_black.svg" alt="">
				<span class="languages_active">Международный</span>
				<a class="languages_active" href="#">EN</a>
				<a href="#">RU</a>
			</div>
			<div class="language_languages_item">
				<img src="./img/languales_ukraine.png" alt="">
				<span>Украина</span>
				<a href="#">EN</a>
				<a href="">RU</a>
			</div>
			<div class="language_languages_item">
				<img src="./img/languales_russia.png" alt="">
				<span>Россия</span>
				<a href="#">EN</a>
				<a href="#">RU</a>
			</div>
			<div class="language_languages_item">
				<img src="./img/languales_england.png" alt="">
				<span>Англия</span>
				<a href="#">EN</a>
				<a href="#">RU</a>
			</div>
			<div class="language_languages_item">
				<img src="./img/languales_canada.png" alt="">
				<span>Канада</span>
				<a href="#">EN</a>
				<a href="#">RU</a>
			</div>
			<div class="language_languages_item">
				<img src="./img/languales_poland.png" alt="">
				<span>Польша</span>
				<a href="#">EN</a>
				<a href="#">RU</a>
			</div>
			<div class="language_languages_item">
				<img src="./img/languales_usa.png" alt="">
				<span>США</span>
				<a href="#" >EN</a>
				<a href="#">RU</a>
			</div>
		</div>
	</div>
</section>

{% include "parts/footer.html" %}