{% include "parts/header_white.html" %}
{% include "parts/mobile_menu.html" %}

<section class="support">
	<div class="container">
		<div class="support_header">
			<h2 class="heading heading_black">Поддержка</h2>
		</div>
		<div class="row">
			<a href="./faq.html" class="support_item">
				<img src="./img/support_information.png" alt="">
				<p class="text_heading">Вопросы и ответы</p>
			</a>
			<a href="./distributors.html" class="support_item">
				<img src="./img/support_location.png" alt="">
				<p class="text_heading">Международные дистрибьюторы и места продаж</p>
			</a>
			<a href="./payment.html" class="support_item">
				<img src="./img/support_box.png" alt="">
				<p class="text_heading">Доставка / оплата</p>
			</a>	
		</div>
	</div>
</section>


{% include "parts/footer.html" %}