@import "../normalize/normalize";
@import "../fonts/fonts";
@import "../mixins/base";
@import "../mixins/media";
@import "../../../node_modules/slick-carousel/slick/slick.scss";
@import "../../../node_modules/slick-carousel/slick/slick-theme.scss";

.cart_icon{
	position: relative;
}
.cart_count{
	position: absolute;
	left: 50%;
	margin-left: -6px;
	font-size: .85rem;
}

.banner{
	position: relative;
	min-height: 100vh;
	height: 100%;
	background: url('../../img/banner_main.png') center no-repeat;
	background-size: cover;
}
.banner_content{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.banner_text_content{
	max-width: 50%;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	.banner_text_content_heading{
		font-family: $bold;
		font-size: 3rem;
		color: #fff;
		line-height: 3.5rem;
		max-width: 540px;
	}
	p{
		font-family: $regular;
		font-size: .85rem;
		color: #fff;
		line-height: 1.35rem;
		margin-top: 20px;
		max-width: 540px;
	}
}
.banner_img{
	img{
		width: 100%;
	}
}
.banner_button{
	margin-top: 40px;
}

.banner_scroll_button{
	width: 100px;
	z-index: 2;
}

.banner_scroll_button{
	position: absolute;
	bottom: -40px;
	left: calc(50% - 75px);
	width: 75px;
	height: 75px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	&:hover{
		cursor: pointer;
	}
	img{
		transform: rotate(90deg);
		width: 30px;
		height: 23px;
	}
}

.product_path{
	min-height: 750px;
	background: #fff;
	position: relative;
	padding: 130px 0;
}

.product_path_img-leftside{
	position: absolute;
	top: 0;
	left: 0;
}

.product_path_img-righside{
	position: absolute;
	bottom: -5%;
	right: 0;
}
.product_path_row{
	margin-top: 60px;
}

.product_path_heading{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%;
	h2{
		max-width: 800px;
	}
}

.product_path_heading_line{
	background: $textColor;
	max-width: 400px;
	width: 100%;
	height: 1px;
	margin-top: 30px;
}

.product_path_item{
	max-width: 300px;
	.product_path_item_heading{
		font-size: 1.3rem;
		font-family: $bold;
	}
	.product_path_item_text{
		font-family: $light;
		font-size: .9rem;
		line-height: 1.35rem;
		margin-top: 20px;
	}
}


.instruction{
	background: $blueLight;
	padding: 110px 0 140px 0;
	text-align: center;
}
.instruction_row{
	justify-content: center;
}
.instruction_heading{
	max-width: 760px;
	text-align: center;
	margin: 0 auto 60px auto;
}
.instruction_item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 325px;
	p{
		font-family: $regular;
		font-size: 1.1rem;
		line-height: 1.5rem;
		text-align: center;
		color: #fff;
		margin-top: 40px;
	}
}
.instruction_item_support{
	max-width: 150px;
}
.instruction_button{
	text-align: center;
	display: inline-block;
	margin-top: 115px;
}

.products_list{
	min-height: 1300px;
	background: url('../../img/products_bg.png') center no-repeat;
	background-size: cover;
	padding: 150px 0 180px 0;
	text-align: center;

}

.product_list_items{
	margin-top: 100px;
}
.product_list_items_item{
	display: flex!important;
	justify-content: center;
	align-items: center;
	img{
		max-width: 370px;
		max-height: 550px;
		margin: 0!important;
	}
}
.product_list_controls{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 65px;
}
.product_list_controls_prev_button{
	width: 72px;
	height: 72px;
	background-color: #b4b4b4;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	&:hover{
		cursor: pointer;
	}
}
.product_list_controls_next_button{
	width: 72px;
	height: 72px;
	background-color: #b4b4b4;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	&:hover{
		cursor: pointer;
	}
}
.product_list_controls_scroll_line{
	margin: 0 55px;
	max-width: 1000px;
	background-color: #f6f6f6;
	height: 10px;
	width: 100%;
	.product_list_controls_scroll_line_active{
		max-width: 20%;
		height: 100%;
		background-color: #8a8a8a;
	}
}
.products_list_button{
	margin-top: 85px;
}


.product_list_controls_scroll{
	max-width: 1000px;
	width: 100%;
	margin: 0 60px;
	.slick-dots{
	max-width: 1000px;
	width: 100%;
	display: flex;
	justify-content: center;
	position: static;
	li{
		background-color: #f6f6f6;
		height: 10px;
		margin: 0;
		width: 100%;
	}
	.slick-active{
		background-color: #8a8a8a;
	}
}
}


/*
	Empty cart styles
*/


.empty_cart{
	min-height: calc(100vh - 130px - 90px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url('../../img/empty-cart.png') center no-repeat;
	background-size: cover;
}
.empty_cart_button{
	margin-top: 70px;
}


/*
	FAQ styles	
*/
.faq{
	min-height: calc(100vh - 130px - 90px);
	padding: 65px 0 80px 0;
}
.faq_content{
	max-width: 1320px;
	margin: 0 auto;
}

.faq_inner{
		margin-top: 75px;
}

.faq_inner_help{
	font-size: 1rem;
	font-family: $regular;
	padding: 30px 20px;
	a{
		font-family: $semibold;
		color: #0065ff;
		text-decoration: none;
	}
}
.faq_item{
	border-top: 1px solid #a2a2a2;
	padding: 30px 20px;
	user-select: none;
	&:hover{
		cursor: pointer;
	}
	&:last-child{
		border-bottom: 1px solid #a2a2a2;
	}
	.faq_item_title{
		font-size: 1rem;
		font-family: $regular;
	}
	.faq_item_content{
		font-family: $light;
		font-size: .9rem;
		line-height: 1.35rem;
		margin-top: 15px;
	}
}



/*
	Payment styles
*/
.payment{
	padding: 65px 0 80px 0;
	hr{
		margin: 30px 0;
	}
}
.payment_container{
	display: flex;
}
.payment_item_inner{
	margin-top: 65px;
	background: #f9f9f9;
	padding: 40px 20px;
}
.payment_item{
	width: 50%;
	&:last-child{
		margin-left: 20px;
	}
}
.mt30{
	margin-top: 30px;
}
.payment_item_inner_content_title{
	color: $textColor;
	font-family: $semibold;
	font-size: 1rem;
}

.payment_item_inner_content_text{
	color: $textColor;
	font-size: .9rem;
	line-height: 1.5rem;
	margin-top: 10px;
	font-family: $regular;
}


@import "../mixins/part";


