@import "../normalize/normalize";
@import "../fonts/fonts";
@import "../mixins/base";
@import "../mixins/media";
@import "../../../node_modules/slick-carousel/slick/slick.scss";
@import "../../../node_modules/slick-carousel/slick/slick-theme.scss";



//** --------------> Distributors <----------------- ** //

.distributors{
	background: url(../../img/ukraine-map.png);
	background-position: center;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	background-repeat: no-repeat;
}

.distributors_header{
	text-align: center;
	padding: 50px 0;
	img{
		width: 44px;
	}
	@media screen and (max-width: 1580px){
		padding: 45px 0;
	}
	@media screen and (max-width: 1440px){
		padding: 40px 0;
		img{
			width: 40px;
		}
	}
	@media screen and (max-width: 1200px){
		padding: 35px 0;
		img{
			width: 36px;
		}
	}
	@media screen and (max-width: 998px){
		padding: 30px 0;
		img{
			width: 32px;
		}
	}
	@media screen and (max-width: 768px){
		padding: 25px 0;
		img{
			width: 30px;
		}
	}
}


.distributors_item{
	border-top: 1px solid #e8e8e8;
	text-align: center;
	padding: 40px 0;
	p{
		font-size: 1rem;
		line-height: 1.5rem;
		color: $textColor;
		font-family: $regular;
	}
	@media screen and (max-width: 1580px){
		padding: 35px 0;
	}
	@media screen and (max-width: 1440px){
		padding: 32px 0;
	}
	@media screen and (max-width: 1200px){
		padding: 30px 0;
	}
	@media screen and (max-width: 998px){
		padding: 25px 0;
	}
	@media screen and (max-width: 768px){
		padding: 20px 0;
	}
}

.distributors_heading{
	font-size: 1.5rem;
	line-height: 2.5rem;
	font-family: $semibold;
	color: $textColor;
	cursor: pointer;
}


.distributors_ukraine_heading{
	font-size: 1rem;
	line-height: 1.5rem;
	color: $blueLight;
	font-family: $semibold;
	text-align: center;
}

.distributors_item_row {
	margin-top: 30px;
		img{
			width: 90%;
			margin: 0 auto;
			cursor:	pointer;
		}
	.slick-track{
		display: flex;	
		-webkit-align-items: center;
		        align-items: center;
		   div{ outline: none;}
	}
}

.distributors_item_row-shop{
	-webkit-justify-content: center;
	        justify-content: center;
}


.distributors_item_authrised p{
	font-size: .9rem;
	margin-top: 5px;
}

.distributors_item_content_item{
	padding: 50px 0;
	border-bottom: 1px solid #e8e8e8;
	@media screen and (max-width: 1580px){
		padding: 45px 0;
	}
	@media screen and (max-width: 1440px){
		padding: 40px 0;
	}
	@media screen and (max-width: 1200px){
		padding: 35px 0;
	}
	@media screen and (max-width: 998px){
		padding: 30px 0;
	}
	@media screen and (max-width: 768px){
		padding: 25px 0;
	}
}
.distributors_item_content_item_last{
	padding-bottom: 0;
	border-bottom: 0;
}

@media screen and (max-width: 1440px){

}	
@media screen and (max-width: 1200px){
	.distributors_header{
		h2{
			font-size: 2.4rem;
			line-height: 3rem;
			max-width: 	90%;
			margin: 0 auto;
		}
	}
	.distributors_item_row{
		div{
			width: 30%;
			padding: 0 5%;
			margin-top:15px;
			margin-bottom: 15px;
		}
	}
}
@media screen and (max-width: 992px){
	.distributors_item_row{
		div{
			width: 33%;
			padding: 0 5%;
			margin-top:15px;
			margin-bottom: 15px;
		}
	}
}
@media screen and (max-width: 768px){
	.distributors_header{
		h2{
			font-size: 2.2rem;
			line-height: 3rem;
		}		
	}
	.distributors_item_row{
		div{
			width: 30%;
			padding: 0 2%;
			margin-top:15px;
			margin-bottom: 15px;
		}
	}
	.distributors_item_content_item{
		padding: 30px 0;
	}
}
@media screen and (max-width: 500px){
	.distributors_header{
		h2{
			font-size: 2rem;
			line-height: 2.6rem;
		}
		img{
			width: 	15%;
			display: none;	
		}
	}
	.distributors_item {
		padding: 20px 5%;
		h3{
			width: 	80%;
			margin: 0 auto;
		}
		p{
			margin-bottom: 30px;
			margin-top: 30px;
			width: 	80%;
			margin: 0 auto;
		}
	}
	.distributors_item_content_item{
		padding: 20px 0;
	}
	.distributors_item_row{
		margin-top: 20px;
		div{
			width: 50%;
			padding: 0 5%;
			margin-top:15px;
			margin-bottom: 15px;
		}
	}
}

@media screen and (max-width: 320px){
	.distributors_header{
		h2{
			font-size: 10vw;
			line-height: 13vw;
		}		
	}
	.distributors_item {
		p{
			margin-bottom: 20px;
		}
	}
	.distributors_item_row{
		div{
			width: 50%;
			padding: 0 3%;
			margin-top:15px;
			margin-bottom: 15px;
		}
	}
}

//** --------------> Support <----------------- ** //

.support{
	padding:50px 0;
	@media screen and (max-width: 1580px){
		padding: 45px 0;
	}
	@media screen and (max-width: 1440px){
		padding: 40px 0;
	}
	@media screen and (max-width: 1200px){
		padding: 35px 0;
	}
	@media screen and (max-width: 998px){
		padding: 30px 0;
	}
	@media screen and (max-width: 768px){
		padding: 25px 0;
	}
}

.support_item{
	margin: 15px auto;
	background: #f9f9f9;
	padding: 50px 40px;
	width: 45%;
	max-width: 540px;
	min-height: 310px;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: center;
	        justify-content: center;
	text-decoration: none;
	img{
		max-width: 70px;
		width: 80%;
	}
	p{
		text-align: center;
		margin-top: 30px;
		font-family: $semibold;
		font-size: 1.4rem;
		line-height: 2rem;
		color:$textColor;
	}
	@media screen and (max-width: 1580px){
		padding: 45px 35px;
	}
	@media screen and (max-width: 1440px){
		padding: 40px 30px;
		p{
			margin-top: 25px;
		}
	}
	@media screen and (max-width: 1200px){
		padding: 35px 25px;
		img{
			max-width: 60px;
		}
		p{
			margin-top: 20px;
		}
	}
	@media screen and (max-width: 998px){
		padding: 30px 20px;
		img{
			max-width: 55px;
		}
		p{
			margin-top: 15px;
		}
	}
	@media screen and (max-width: 768px){
		padding: 25px 15px;
		img{
			max-width: 50px;
		}
	}
}


@media screen and (max-width: 1440px){

}	
@media screen and (max-width: 1200px){

}
@media screen and (max-width: 992px){


.support_item{
		min-height: 300px;
	}

}
@media screen and (max-width: 768px){
	.support_item{
		width: 80%;
		min-height: 260px;
	}

}
@media screen and (max-width: 500px){
	.support{
	}
.support_item{
		width: 90%;
		min-height: 220px;
		
	}

}
@media screen and (max-width: 320px){
	.support_item{
		width: 100%;
		padding: 20px 10px!important;
	}
	p{
			font-size: 8vw;
			line-height: 10vw;
		}


}


//** --------------> Thankyou <----------------- ** //

.thankyou{
	background: url(../../img/thankyou_bg.png);
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-repeat: no-repeat;
	padding: 100px 0;
	@media screen and (max-width: 1580px){
		padding: 80px 0;
	}
	@media screen and (max-width: 1440px){
		padding: 60px 0;
	}
	@media screen and (max-width: 1200px){
		padding: 50px 0;
	}
	@media screen and (max-width: 998px){
		padding: 40px 0;
	}
	@media screen and (max-width: 768px){
		padding: 30px 0;
	}
}

.thankyou_modal{
	background: #fff;
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	padding: 60px;
	margin-top: 100px;
	-webkit-box-shadow: -1px 4px 39px -9px rgba(0,0,0,0.2);
	-moz-box-shadow: -1px 4px 39px -9px rgba(0,0,0,0.2);
	box-shadow: -1px 4px 39px -9px rgba(0,0,0,0.2);
	
	h3{
		font-family: $bold;
		font-size: 1.75rem;
		line-height: 2rem;
		color: $textColor;
	}
	p{
		font-size: 1.25rem;
		line-height: 1.8rem;
		font-family: $regular;
		color: $textColor;
		width: 70%;
		margin: 0 auto;
		margin-top: 50px;
	}
	a{
		margin-top: 40px;	
		font-size: 1.5rem;
		line-height: 1.8rem;
		font-family: $semibold;
		width: 60%;
		text-align: center;
	}
	@media screen and (max-width: 1580px){
		padding: 50px;
		margin-top: 80px;
		max-width: 750px;
	}
	@media screen and (max-width: 1440px){
		padding: 45px;
		margin-top: 60px;
		max-width: 650px;
	}
	@media screen and (max-width: 1200px){
		padding: 40px;
		margin-top: 60px;
		max-width: 600px;
	}
	@media screen and (max-width: 998px){
		padding: 35px;
		margin-top: 60px;
		max-width: 550px;
	}
	@media screen and (max-width: 768px){
		padding: 30px;
		margin-top: 50px;
	}
	
}


@media screen and (max-width: 1440px){
	.thankyou{
		p{
			margin-top: 40px;
		}
		a{
			margin-top: 30px;
		}
	}
}	
@media screen and (max-width: 1200px){
	.thankyou{
	h2{
			font-size: 2.4rem;
			line-height: 3rem;
			max-width: 	90%;
			margin: 0 auto;
		}
		p{
			margin-top: 35px;
		}
		a{
			margin-top: 25px;
		}
}
}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 768px){
.thankyou_modal{
		padding: 40px 12%;
		h3{
			width: 100%;
		}
		p{
			width: 100%;
			margin-top: 30px;
		}
		a{
			width: 100%;
			margin-top: 20px;
		}
	}
}
@media screen and (max-width: 320px){
	.thankyou{
		padding: 30px 0;
	}
.thankyou h2{
	font-size: 10vw;
	line-height: 13vw;
	width: 90%;
}
.thankyou_modal{
	margin-top: 40px;
	padding: 40px 8%;
	h3{
		font-size: 10vw;
		line-height: 12vw;
	}
	p{
		font-size: 7vw;
		line-height: 9vw;
		margin-top: 11vw;
	}
	a{
		font-size: 7vw;
		line-height: 9vw;
		margin-top: 11vw;
	}
}
}


//** --------------> Languages <----------------- ** //

.language{
	background: url(../../img/languages_bg.png);
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-repeat: no-repeat;
	padding: 100px 0;
	@media screen and (max-width: 1580px){
		padding: 80px 0;
	}
	@media screen and (max-width: 1440px){
		padding: 60px 0;
	}
	@media screen and (max-width: 1200px){
		padding: 50px 0;
	}
	@media screen and (max-width: 998px){
		padding: 40px 0;
	}
	@media screen and (max-width: 768px){
		padding: 30px 0;
	}
}

.language_line{
	width: 155px;
	height: 1px;
	background: #000;
	margin: 0 auto;
	margin-top: 30px;
	@media screen and (max-width: 1580px){
		margin-top: 26px;
	}
	@media screen and (max-width: 1440px){
		margin-top: 24px;
	}
	@media screen and (max-width: 1200px){
		margin-top: 20px;
	}
	@media screen and (max-width: 998px){
		margin-top: 16px;
	}
	@media screen and (max-width: 768px){
		margin-top: 12px;
	}
}
.language_languages{
	margin: 0 auto;
	margin-top: 70px;
	text-align: center;
	width: 90%;
	max-width: 400px;
	@media screen and (max-width: 1580px){
		margin-top: 60px;
		max-width: 360px;
	}
	@media screen and (max-width: 1440px){
		margin-top: 50px;
		max-width: 320px;
	}
	@media screen and (max-width: 1200px){
		margin-top: 45px;
		max-width: 300px;
	}
	@media screen and (max-width: 998px){
		margin-top: 40px;
		max-width: 290px;
	}
	@media screen and (max-width: 768px){
		margin-top: 35px;
	}
}

.language_languages_item{
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	    -webkit-align-items: center;
	            align-items: center;
	    margin-top: 20px;
		@media screen and (max-width: 1200px){
			margin-top: 16px;
		}
		@media screen and (max-width: 768px){
			margin-top: 12px;
		}
	img{
		margin-right: 30px;
	}
	span, a{
		font-family: $regular;
		font-size: 1rem;
		text-decoration: none;
		color: $textColor;
	}
	span{
		width: 220px;
		text-align: left;
	}
	a{
		margin: 0 10px;
	}
}

.languages_active{
	font-family: $black!important;
}


@media screen and (max-width: 1440px){

}	
@media screen and (max-width: 1200px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 768px){
.language{
	h2{
		font-size: 2.2rem;
		line-height: 3rem;
		width: 90%;
		margin: 0 auto;
	}
}

}
@media screen and (max-width: 320px){
.language{
	padding: 40px 0;
	h2{
		font-size: 10vw;
		line-height: 13vw;
	}
}
.language_languages{
	margin-top: 40px;
}
.language_languages_item{
	img{
		width: 10vw;
		margin-right: 4vw;
	}
	span, a{
		font-size: 5.5vw;
	}
	span{
		width: 60%;
		text-align: left;
	}
	a{
		margin: 0 3vw;
		font-size: 6vw;
		line-height: 7vw;
	}
}
}





//** --------------> products <----------------- ** //

.products_header{
	background: url(../../img/products_bg.png);
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-repeat: no-repeat;
	padding: 175px 0;
	@media screen and (max-width: 1580px){
		padding: 160px 0;
	}
	@media screen and (max-width: 1440px){
		padding: 140px 0;
	}
	@media screen and (max-width: 1200px){
		padding: 120px 0;
	}
	@media screen and (max-width: 998px){
		padding: 100px 0;
	}
	@media screen and (max-width: 768px){
		padding: 80px 0;
	}
	@media screen and (max-width: 500px){
		padding: 60px 0px;
	}
}

.products_content_container{
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	    flex-wrap:wrap;
}


.products_item:after{
	content: "";
	display: block;	
	position: absolute;	
	bottom: 0;
	width: 	200vw;
	left: 	-50vw;
	height: 1px;
	background:  #dcdcdc;
}

.products_item{
	position: relative;
	padding: 50px 0;
	width: 50%;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-align-items: center;
	        align-items: center;
	@media screen and (max-width: 1440px){
		padding: 35px 0;
	}
	@media screen and (max-width: 1200px){
		padding: 25px 0;
	}
	@media screen and (max-width: 768px){
		padding: 20px 0;
		max-width: 400px;
		margin: 0 auto;
	}
}

.products_item-odd{
	border-right: 1px solid #dcdcdc;
}
.products_item-even{
	.products_item_image{
		margin-left: 10%;	
	}
}


.products_item_image{
	min-width: 30%;
	width: 30%;
	img{
		width: 100%;
	}
}

.products_item_content{
	width: 60%;
	text-align: center;
	h3{
		font-family: $bold;
		font-size: 1.75rem;
	}
	.products_item_content_line{
		width: 20%;
		height: 1px;
		background: #000;
		margin: 0 auto;
		margin-top: 25px;
	}
}

.products_item_content_consistance{
	margin-top: 50px;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	    -webkit-align-items: center;
	            align-items: center;
	    -webkit-justify-content: center;
	            justify-content: center;
	    div{
	    	padding: 0 30px;
	    	h4{
	    		font-family: $light;
	    		font-size: 1.1rem;
	    		line-height: 1.3rem;
	    		color: $textColor;
	    		margin-bottom: 10px;
	    	}
	    	span{
	    		font-family: $bold;
	    		font-size: 1.1rem;
	    		line-height: 1.3rem;
	    		color: $textColor;
	    	}
	    	&:nth-child(1){
	    		border-right: 1px solid #e8e8e8;
	    	}
	    }
}

.products_item_content_price{
	margin-top: 30px;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	    -webkit-align-items: center;
	            align-items: center;
	    -webkit-justify-content: flex-start;
	            justify-content: flex-start;
}
	.products_item_content_price_label{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 5%;
		width: 50%;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		    -webkit-align-items: center;
		            align-items: center;
		    -webkit-justify-content: center;
		            justify-content: center;
		h4{
	   		font-family: $semibold;
	   		font-size: 2rem;
	   		color: $blueLight;
	   		margin-left: 10%;
	   	}
	   	span{
	   		font-family: $semibold;
	   		font-size: .8rem;
	   		color: $blueLight;
	   		text-align: left;
	   		margin-left: 5px;
	   	}
		
	}

.products_item_content_price .button-num{
	display: none;	
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;	
	    -webkit-align-items: center;
	            align-items: center;	
	    -webkit-justify-content: space-between;
	            justify-content: space-between;	
	    border: 3px solid $blueLight;
	    border-radius: 20px;
	    width: 	135px;
	    height: 40px;
    span{
		margin: 0;
	}
	.plus, .minus{
		width: 40px;
		height: 40px;
		background: $blueLight;
		border-radius:100%;
		position: relative;
		text-decoration: none;	
		display: flex;	
		-webkit-align-items: center;
		        align-items: center;	
		-webkit-justify-content: center;
		        justify-content: center;
		span{
			color: 	#fff;
			font-family: $bold;
			font-size: .9rem;
			line-height: 0.9rem;
			margin-bottom: 	3px;
		}
	}
	.plus{
		margin-right: -3px;
	}
	.minus{
		margin-left: -3px;
	}
	input{
		outline: none;
		opacity: 1;
		width: 30px;
		border:none;
		color: 	$blueLight;
		font-family: $bold;
		font-size: .9rem;
		line-height: 0.9rem;
		margin-bottom: 	3px;
		text-align: center;
		margin: 0 10px;
	}
	input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		    -webkit-appearance: none;
		    margin: 0; 
		}
}

.products_item-full{
	padding: 100px 0;
	width: 100%;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: center;
	        justify-content: center;
	@media screen and (max-width: 1440px){
		padding: 70px 0;
	}
	@media screen and (max-width: 1200px){
		padding: 50px 0;
	}
	@media screen and (max-width: 768px){
		padding: 40px 0;
	}
	.products_item_image{
		width: 50%;
		display: flex;
		-webkit-align-items: center;
		        align-items: center;
		-webkit-justify-content: center;
		        justify-content: center;
		img{
			width: 80%;
			margin: 0 auto;
		}
	}
	.products_item_content{
		padding-left: 5%;
		width: 50%;
		text-align: left;
		h3{
			text-align: left;
			font-family: $bold;
			font-size: 3rem;
			line-height: 3.5rem;
		}
		p{
			font-family: $regular;
			font-size: .9rem;
			line-height: 1.35rem;
			margin-top: 30px;
		}
		.products_item_content_price{
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
		}
		.products_item_content_price_label{
			width: 50%;
			padding: 0;
			text-align: left;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
			a{
				margin-left: 60px;
			}
		}
	}
}

@media screen and (max-width: 1440px){
	.products_item_content{
		h3{
			font-size: 1.5rem;
		}
	}
	.products_item_content_line{
		margin-top: 20px!important;
	}
	.products_item_content_consistance{
		margin-top: 40px;
		div{
			padding: 0 25px;
		}
	}
	.products_item_content_price{
		margin-top: 30px;
	}

}	
@media screen and (max-width: 1200px){
	.products_item_content{
		h3{
			font-size: 1.4rem;
		}
	}
	.products_item_content_line{
		margin-top: 15px!important;
	}
	.products_item_content_consistance{
		margin-top: 30px;
		div{
			padding: 0 20px;
		}
	}
	.products_item_content_price{
		margin-top: 20px;
	}
}
@media screen and (max-width: 992px){
	.products_item_content{
		h3{
			font-size: 1.2rem;
		}
	}
	.products_item_content_line{
		margin-top: 10px!important;
	}
	.products_item_content_consistance{
		margin-top: 25px;
		div{
	    	padding: 0 15px;
	    	h4{
	    		font-size: .9rem;
	    		line-height: 1.1rem;
	    		margin-bottom: 10px;
	    	}
	    	span{
	    		font-family: $bold;
	    		font-size: 1.1rem;
	    		line-height: 1.3rem;
	    	}
	    }
	}
	.products_item_content_price{
	margin-top: 15px;
	div{
		width: 50%;
	   	h4{
	   		font-size: 1.8rem;
	   	}
	   	span{
	   		font-size: .8rem;
	   		margin-left: 5px;
	   	}
	}
	.products_item_content_price_label{
		padding-left: 15%;
	}
}

}
@media screen and (max-width: 768px){
	.products_item{
		width: 100%;
		border-right: none;
	}
	.products_item-even, .products_item-odd{
		.products_item_image{
			margin-left: 5%;	
		}
	}
	.products_item_content{
		h3{
			font-size: 1.5rem;
		}
	}
	.products_item_content_line{
		margin-top: 10px!important;
	}
	.products_item_content_consistance{
		margin-top: 25px;
		div{
			padding: 0 25px;
		}
	}
	.products_item_content_price{
		margin-top: 20px;
	}
	.products_item-full{
		.products_item_content{
			h3{
				font-size: 2.4rem;
				line-height: 2.8rem;
			}
			p{
				margin-top: 20px;
			}
		}
		.products_item_content_price{
			margin-top: 20px;
		}
	}
	.products_item_content_price_label{
		a{
			margin-left: 20px!important;
		}
	}

}
@media screen and (max-width: 500px){
	
	.products_item{
		max-width: 340px;
	}
	.products_item_content{
		h3{
			font-size: 1.3rem;
		}
	}
	.products_item_content_line{
		margin-top: 10px!important;
	}
	.products_item_content_consistance{
		margin-top: 25px;
		div{
	    	padding: 0 15px;
	    	h4{
	    		font-size: .9rem;
	    		line-height: 1.1rem;
	    		margin-bottom: 10px;
	    	}
	    	span{
	    		font-family: $bold;
	    		font-size: 1.1rem;
	    		line-height: 1.3rem;
	    	}
	    }
	}
	.products_item_content_price{
	margin-top: 15px;
	div{
		width: 50%;
	   	h4{
	   		font-size: 1.8rem;
	   	}
	   	span{
	   		font-size: .8rem;
	   		margin-left: 5px;
	   	}
	}
	.products_item_content_price_label{
		padding-left: 15%;
	}
}
.products_item-full{
	.products_item_content{
		padding-left: 0!important;
		h3{
			font-size: 2rem;
			line-height: 2.4rem;
		}
	}
}
.products_item_content_price .button-num{
	input{
		margin: 0;
	}
}

}

@media screen and (max-width: 320px){
	.products_header{
		h2{
			font-size: 10vw;
			line-height: 15vw;
		}
	}
		.products_item_content{
			width: 60%;
		h3{
			font-size: 5.5vw;
			line-height: 6.6vw;
			padding: 0 5%;
		}
	}
	.products_item_image{
		width: 40%;
	}
	.products_item_content_line{
		display: none;
		margin-top: 5px!important;
	}
	.products_item_content_consistance{
		margin-top: 15px;
		div{
	    	padding: 0 15px;
	    	h4{
	    		font-size: 5vw;
	    		line-height: 5vw;
	    		margin-bottom: 1.5vw;
	    	}
	    	span{
	    		font-family: $bold;
	    		font-size: 5vw;
	    		line-height: 6vw;
	    	}
	    }
	}
	.products_item_content_price{
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	    
	margin-right: 0px;
	.products_item_content_price_label{
		padding: 0;
		margin-bottom: 4vw;
		div{
			width: auto;
		}
		h4{
	   		font-size: 8vw;
	   		margin-left: 0;
	   	}
	   	span{
	   		font-size: 4vw;
	   		margin-left: 1vw;
	   	}
	}
}

	.products_item-full{
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		.products_item_image{
			width: 90%;
		}
		.products_item_content{
			width: 90%;
			padding: 0 10%!important;
			h3{
				font-size: 10vw;
				line-height: 12vw;
				padding: 0;
			}
			p{
				margin-top: 20px;
				font-size: 4vw;
				line-height: 6vw;
			}
		}
		.products_item_content_price{
			margin-top: 20px;
		}
	}
	.products_item_content_price_label{
		width: 100%!important;
		a{
			margin-left: 15vw!important;
		}
	}
}

//** --------------> basket <----------------- ** //

.basket{
	padding: 70px 0;
	@media screen and (max-width: 1580px){
		padding: 60px 0;
	}
	@media screen and (max-width: 1440px){
		padding: 50px 0;
	}
	@media screen and (max-width: 1200px){
		padding: 40px 0;
	}
	@media screen and (max-width: 768px){
		padding: 30px 0;
	}
}

.basket-container{
	max-width: 1320px;
	margin: 0 auto;
}


.basket_heading{
	h2{
		font-family: $semibold;
		font-size: 2rem;
		color: $textColor;
		text-align: left;
	}
	padding: 0 20px;
	padding-bottom: 30px;
	
}

.basket_item{
	border-top: 1px solid #aeaeae;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	padding: 25px 20px;
	@media screen and (max-width: 1580px){
		padding: 20px 20px;
	}
	@media screen and (max-width: 1440px){
		padding: 16px 20px;
	}
	@media screen and (max-width: 1200px){
		padding: 12px 15px;
	}
	@media screen and (max-width: 768px){
		padding: 10px 15px;
	}
}

.basket_item_info{
	width: 50%;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-align-items: center;
	        align-items: center;
	
	
}

.basket_item_close{
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.basket_item_info_img{
	margin: 0 40px;
	img{
		max-width: 100px;
		
	}
	@media screen and (max-width: 1440px){
		margin: 0 35px;
		img{
			max-width: 90px;
		}
		}
		@media screen and (max-width: 1200px){
		margin: 0 30px;
		img{
			max-width: 90px;
		}
		}
		@media screen and (max-width: 768px){

		img{
			max-width: 100px;
		}
	}
}

.basket_item_price{
	width: 50%;
}

.basket_item_info_content{
	h3{
		font-family: $semibold;
		font-size: 1.5rem;
		font-size: 2rempx;
		color:$textColor;
	}
	p{
		font-family: $light;
		font-size: 1.05rem;
		margin-top: 15px;
	}
}

.basket_item_price{
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	    -webkit-align-items: center;
	            align-items: center;
	    -webkit-justify-content: space-between;
	            justify-content: space-between;
}

.basket_item_price_one, .basket_item_price_all{
	font-family: $regular;
	font-size: 1.5rem;
	color: $textColor;
}

.basket_item_price_all{
	font-family: $semibold;
}

.basket_item_price_num{
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-align-items: center;
	        align-items: center;
	    -webkit-justify-content: center;
	            justify-content: center;
	    a, input{
	    	font-family: $semibold;
	    	color: $textColor;
	    	font-size: 1.5rem;
	    	line-height: 1.5rem;
	    	text-decoration: none;
	    }
	    input{
	    	border: none;
	    	background: #f4f4f4;
	    	color: $textColor;
	    	margin: 0 16px;
	    	-webkit-border-radius: 10px;
	    	        border-radius: 10px;
	    }
	    input{
	    	border: none;
	    	background: #f4f4f4;
	    	color: $textColor;
	    	margin: 0 16px;
	    	-webkit-border-radius: 10px;
	    	        border-radius: 10px;
			outline: none;
			width: 2.4rem;
			height: 2.4rem;
			font-family: $bold;
			text-align: center;
		}
	input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		    -webkit-appearance: none;
		    margin: 0; 
		}
	}


.basket_item-total{
	-webkit-justify-content: flex-end;
	        justify-content: flex-end;
	        margin-top: 40px;
	        border-bottom: none;
	@media screen and (max-width: 1580px){
		 margin-top: 35px;
	}
	@media screen and (max-width: 1440px){
		 margin-top: 30px;
	}
	@media screen and (max-width: 1200px){
		 margin-top: 25px;
	}
	@media screen and (max-width: 768px){
		 margin-top: 20px;
	}
}

.basket_item_cupon{
	text-align: center;
	p{
		font-family: $light;
		font-size: .8rem;
		color: $textColor;
		margin-bottom: 15px;
	}
	span{
		font-family: $bold;
		font-size: 1.5rem;
		color: $textColor;
	}
}


.basket_form-wrap{
	width: 50%;
	margin-left: 50%;
	.basket_form{
		margin-left: 40%;
		width: 60%;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		input{
			border: 1px solid #bfbfbf;
			font-family: $semibold;
			font-size: .8rem;
			padding: 16px 20px;
			margin-top: 20px;
			-webkit-border-radius: 35px;
			        border-radius: 35px;
			outline: none;
			color: $textColor;
			@media screen and (max-width: 1580px){
				padding: 14px 18px;
				margin-top: 18px;
			}
			@media screen and (max-width: 1440px){
				padding: 12px 18px;
				margin-top: 16px;
			}
			@media screen and (max-width: 1200px){
				padding: 10px 16px;
				margin-top: 14px;
			}
			@media screen and (max-width: 768px){
				padding: 12px 18px;
				margin-top: 12px;
			}
		}
		input::placeholder{
			color: $textColor;
		}
		
	}
}

.basket_form_cupon{
	width: 100%;
	position: relative;
}
.basket_form_input_cupon{
	width: 100%;
	margin-bottom: 50px;
}
.basket_form_input_cupon-submit{
	font-family: $semibold;
	font-size: 1rem;
	line-height: 1.05rem!important;
	background: $blueLight;
	color: #fff!important;
	position: absolute;
	right: 2px;
	top: 2px;
	padding: 14px 22px!important;
	cursor: pointer;
	@media screen and (max-width: 1580px){
		padding: 14px 18px!important;
	}
	@media screen and (max-width: 1440px){
		padding: 10.5px 18px!important;
	}
	@media screen and (max-width: 1200px){
		padding: 8.5px 16px!important;
	}
	@media screen and (max-width: 768px){
		padding: 10px 16px!important;
	}
}


.basket_form_select-wrap{
		-webkit-transition: all .2s;
	   -moz-transition: all .2s;
	    -ms-transition: all .2s;
	     -o-transition: all .2s;
	        transition: all .2s;
	.select{
		width: 100%;
		transition: all 0.2s ease-out;
	}
}

/*   Selector    */

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;

}
.select-styled {
  	border: 1px solid #bfbfbf;
	font-family: $semibold;
	font-size: .8rem;
	line-height: 1.2rem;
	padding: 16px 20px;
	-webkit-border-radius: 25px;
	        border-radius: 25px;
	outline: none;
	color: $textColor;
	transition: all 0.2s ease-out;
	@media screen and (max-width: 1580px){
				padding: 14px 18px;
				margin-top: 18px;
			}
			@media screen and (max-width: 1440px){
				padding: 12px 18px;
				margin-top: 16px;
			}
			@media screen and (max-width: 1200px){
				padding: 10px 16px;
				margin-top: 14px;
			}
			@media screen and (max-width: 768px){
				padding: 12px 18px;
				margin-top: 12px;
			}
  &:after {
    content:url(../../img/back.png);
    position: absolute;
    right: 18px;
    transition: all 0.2s ease-out;
  }
}

.select-options {
	display: none; 
	position: absolute;
	width: 100%;
	top: 100%;
	z-index: 999;
	list-style: none;
	background: #fff;
	list-style: none;
	border: 1px solid #bfbfbf;
	padding: 8px 20px;
	margin-top: 2px;
	-webkit-border-radius: 0 0 25px 25px;
	        border-radius: 0 0 25px 25px;
	outline: none;
	transition: all 0.2s ease-out;

  li {
    padding: 7px 0;
    color: $textColor;
    font-family: $regular;
    font-size: .8rem;
    transition: all .2s;
    &:hover {
		color: $blueLight;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}

.select-styled.active{
	-webkit-border-radius: 25px 25px 0 0;
	        border-radius: 25px 25px 0 0;
}
.select-styled.active:after{
	transform:rotate(180deg);
	margin-top: 3px;
}




.basket_form_delivery_shop{
	width: 100%;
	p{
		font-family: $regular;
		color: $textColor;
		font-size: .9rem;
		line-height: 1.3rem;
		margin-top: 10px;
		padding-left: 2rem;
		position: relative;
		img{
			position: absolute;
			height: 1.1rem;
			width: auto;
			left: 0;
			top: .1rem;
		}
	}
}


.basket_form_delivery_nov{
	input{
		width: 	100%;
	}
	.select{
		width: 	100%;
	}
}

.basket_form_delivery_door{
	input{
		width: 	100%;
	}
	div{
		display: flex;	
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;	
		    -webkit-justify-content: space-between;
		            justify-content: space-between;	
		    input{
		    	width: 	48%;
		    }
	}
}




.basket_form_submit{
	background: $blueLight;
	color: #fff!important;
	font-size: 1rem!important;
	padding: 12px 0!important;
	text-align: center;
	margin-top: 40px!important;
	border: none!important;
	cursor: pointer;
	@media screen and (max-width: 1440px){
		margin-top: 30px!important;
	}
	@media screen and (max-width: 1200px){
		margin-top: 25px!important;
	}
	@media screen and (max-width: 768px){
		margin-top: 20px!important;
	}
}


.basket_form_result{
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	div{
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		    -webkit-justify-content: space-between;
		            justify-content: space-between;
		    span{
		    	font-family: $regular;
		    	color: $textColor;
		    }
	}
}

.basket_form_result_sum{
	font-size: .9rem;
	margin-top: 12px;
	padding-left: 25px;
}
.basket_form_result_all span, .basket_form_result_pay span{
	margin-top: 25px;
	font-size: 1.25rem;
	margin-bottom: 5px;
	&:nth-child(2){
		color: $blueLight;
		font-family: $semibold;
	}
}







@media screen and (max-width: 1440px){
	.basket-container{
		width: 100%;
	}
}	
@media screen and (max-width: 1200px){
	.basket-container{
	max-width: 1320px;
	width: 95%;
	margin: 0 auto;
	}
}
@media screen and (max-width: 992px){
.basket_heading{
		max-width: 	350px;
			h2{
			text-align: center;	
		}
		margin: 0 auto;
	}
	.basket_item{
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;	
	    max-width: 	350px;
	    margin: 0 auto;
	    padding: 25px 0;
	}
	.basket_item_info{
		width: 	100%;
		position: relative;
		-webkit-justify-content: 	space-between;
		        justify-content: 	space-between;	
	}
	.basket_item_info_img{
		margin:0;
		img{
			max-width: 	120px;
		}
	}
	.basket_item_price{
		width: 	100%;
		margin-top: 15px;
	}
	.basket_item_close{
		position: absolute;
		top: 0;
		right: 0;
		width: 18px;
		height: 18px;
	}
	.basket_form-wrap{
		width: 	100%;
		max-width: 350px;
		margin: 0 auto;
		.basket_form{
			width: 	100%;
			margin: 	0;
		}
	}
}
@media screen and (max-width: 768px){
	.basket_heading, .basket_item, .basket_form-wrap{
		max-width: 300px;
	}
	.basket_item_info_img{
		width: 	30%;
		img{
			max-width: 110px;
		}
	}
	.basket_item_price{
		width: 	100%;
		margin-top: 10px;
	}
}
@media screen and (max-width: 500px){
	.basket-container{
		max-width: 	320px;
	}
	.basket_item{
		padding: 15px 0;
	}
	.basket_item_info_img{
		width: 	30%;
		img{
			width: 	100%;
		}
	}
	.basket_item_info_content{
		margin-right: 5px;
		h3{
			font-size: 	1.5rem;
			margin-top: 10px;
			
		}
		p{
			font-size: 	1.1rem;
			margin-top: 12px;
		}
	}
	.basket_item_price{
		span{
			font-size: 	1.2rem;
			line-height: 1.4rem;
		}
		.basket_item_price_num{
			div{
				font-size: 	1.1rem;
				padding: 5px 8px;
			}
		}
	}
	.basket_item_close{
		width: 16px;
		height: 16px;
		img{
			width: 	100%;
			height: auto;
		}
	}

	.basket_form_result_sum{
	font-size: 1rem;
	margin-top: 10px;
	padding-left: 25px;
}
.basket_form-wrap{
	width: 95%;
}
.basket_form_result_all span, .basket_form_result_pay span{
	margin-top: 25px;
	font-size: 1.25rem;
	margin-bottom: 5px;
	&:nth-child(2){
		font-size: 1.5rem;
	}
}

}
@media screen and (max-width: 320px){
	.basket_heading{
		h2{
			font-size: 	10vw;
			line-height: 	12vw;
		}
		padding-top: 12vw;
		padding-bottom: 6vw;
	}
	.basket_item_info_content{
		margin-right: 2vw;
		h3{
			font-size: 	6vw;
			line-height: 7vw;
			margin-top: 2vw;
		}
		p{
			font-size: 	4.5vw;
			line-height: 5.5vw;
			margin-top: 3vw;
		}
	}
	.basket_item_price{
		padding: 0 1vw;
		margin-top: 3vw;
		span{
			font-size: 	6vw;
			line-height: 7vw;
		}
		.basket_item_price_num{
			div{
				font-size: 	5.5vw;
				padding: 2vw 3vw;
				margin: 0 4vw;
			}
		}
	}
	.basket_item_close{
		width: 6vw;
		height: 6vw;
	}

.basket_form-wrap{
	input{
			font-size: 4.5vw!important;
			line-height: 4.8vw!important;
			padding: 5vw 6vw!important;
			margin-top: 5vw;
			-webkit-border-radius: 35px;
			        border-radius: 35px;
		}
}




.basket_form_result_sum{
	font-size: 5vw;
	margin-top: 4vw;
	padding-left: 7vw;
}
.basket_form_result_all span, .basket_form_result_pay span{
	margin-top: 6vw;
	font-size: 6.5vw;
	margin-bottom: 2vw;
	&:nth-child(2){
		font-size: 8vw;
	}
}
.basket_form_submit{
	margin-top: 10vw!important;
	font-size: 5.5vw!important;
	padding: 3.8vw 0 4vw 0!important;
}
}

